@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    text-align: center;
    min-height: 100vh;
    background: url(fundo.png);
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}

i {
    color: white;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: orangered;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    display: inline-block;
    vertical-align: middle;
    margin-top: calc(50vh - 300px);
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.blogin {
    text-decoration: none;
    color: orangered;
}

.blogin:hover {
    color: white;
}

.login {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.login input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border: 2px solid orangered;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.login input::placeholder {
    color: white;
}

.login i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 25%;
}

.lembrar-senha {
    margin: -15px 0 15px;
    text-align: left;
}

.lembrar-senha label {
    display: inline-block;
    width: 48%;
}

.lembrar-senha label input {
    accent-color: white;
    margin-right: 5px;
}

.lembrar-senha a {
    display: inline-block;
    width: 48%;
    text-decoration: none;
    color: white;
    text-align: right;
}

.lembrar-senha a:hover {
    text-decoration: underline;
}

.submit {
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.submit:hover {
    background-color: orangered;
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;
    transition: 0.5s;
}

.registro {
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.registro a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.registro a:hover {
    text-decoration: underline;
}

