* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url('wal.png');
  background-size: cover;   
  background-position: center;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
}


.principal {
    max-width: 900px;
    margin: auto;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #000;
}

header p {
    font-size: 1.2rem;
    color: #555;
}

.img {
    width: 100%;
    max-width: 950px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

h2 {
    font-size: 2rem;
    margin: 20px 0 10px;
    border-left: 5px solid #ffc700;
    padding-left: 10px;
}

p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.stats {
    text-align: center; 
}

.stat {
    display: inline-block;
    width: 45%;         
    background: #b99e00;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    vertical-align: top; 
}
